// src/routes/devblog/hello-world.svx
<!-- src/routes/devblog/hello-world.svx -->
---
title: "Set up"
date: "2025-11-28"
---

# Hello 👋

första devblog
visste inte att jag skulle ha detta tills nu (11-28) men sånt är livet
jaag började med shoppinglist 
<br>
Each post needs to have a title and a date in the frontmatter, between the --- tags.
